<!DOCTYPE html>
<html>
<style>
body,
html {
    height: 100%;
    margin: 0;
}

.bgimg {
    background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}
</style>
<style>
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}
</style>

<body>
    <div class="bgimg">
        <div class="topleft">
            <p>O2Plus</p>
        </div>
        <div class="middle">
            <h1>Access Cloud on Phone</h1>
            <hr>
            <p>Serverless access to cloud on android for first time</p>
            <button class="button button2" onclick="payment()">Order for 30 Days</button>
        </div>
        <div class="bottomleft">
            <p>Free One - Day trial for all new registrations !!!</p>
        </div>
    </div>
    <script>
    var pres_url = window.location.href;
    function payment(){
      window.location.replace('payment');
    }
    </script>
</body>

</html>